* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'League Spartan', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
nav > .logo{
    display: flex;
    justify-content: flex-start;
}
.logo img {
    background-color: black;
    animation: upin 1s ease-out forwards;
}
@keyframes upin {
    0% {
      opacity: 0;
      transform: translatey(-100%);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }
.nav-links {
    display: flex;
    gap: 2.5rem;
    padding: 3rem;
    animation: downin 1s ease-out forwards;
}
@keyframes downin {
    0% {
      opacity: 0;
      transform: translatey(100%);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
    font-weight: bolder;
}

.nav-links a:hover {
    color: #00bcd4;
}

.body1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 7rem ;
}
.co{
    width: 9rem;
}
.co0{
    padding: 5rem 0rem 0rem 2rem;
    font-size: 6.125rem;
    width: 30rem;
    animation: slideIn 1s ease-out forwards;
}
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
.co .co0 span{
    color: #00bcd4;
}
.co1{
    font-size: 2rem;
    width: 30rem;
    padding: 2rem 0rem 2rem 2rem;
    color: grey;
    font-weight: bold;
}

.co button{
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid white;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 3px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    overflow: hidden;
    background-color: transparent;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 50px;
    width: 14rem;
    height: 4.5rem;
}

.co button:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #00bcd4;
    z-index: -1;
}
.co button:hover,.co-0 button:focus{
    color: black;
    border: 3px solid black;
}
.co button:hover:before,.co-0 button:focus:before{
    transition: 1s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.co button:active{
    transform: scale(0.9);
}
.img{
    margin: -2rem 15rem 0rem 33rem;

}
.img img{
    width: 25rem;
    height: 35rem;
    animation: downin 1s ease-out forwards;
}
.body2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0rem 5rem 10rem;
}

.img2{
    margin-top: -5rem;
}
.img2 img{
    width: 20rem;
    height: 30rem;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}
@keyframes scroll {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.co-0{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
    margin-top: -8rem;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}   
.co2{
    font-size: 3.5rem;
}
.co3{
    font-size: 1.5rem;
}
.co-0 button{
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid white;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 3px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    overflow: hidden;
    background-color: transparent;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 50px;
    width: 14rem;
    height: 4.5rem;
}
.co-0 button:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #00bcd4;
    z-index: -1;
}
.co-0 button:hover,.co-0 button:focus{
    color: black;
    border: 3px solid black;
}
.co-0 button:hover:before,.co-0 button:focus:before{
    transition: 1s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.co-0 button:active{
    transform: scale(0.9);
}
.upper-footer{
    display: flex;
    justify-content: space-evenly;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}
.upper-footer-content1{
    font-size: 2rem;
    width: 30rem;
    text-align: center;
}
.upper-footer-content1 div{
    padding-top: 2rem;
}
.upper-footer-content1-socialmedia-links ul{
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem 0rem;
}
.upper-footer-content1-socialmedia-links ul a{
    color: white;
}
#social{
    padding: 0rem 1rem;
}

.upper-footer-content2{
    font-size: 1.2rem;
    width: 30rem;
}
.upper-footer-upper-content{
    padding: 2rem 0rem .5rem 0rem;
    text-align: center;
}
.upper-footer-lower-content{
    padding: 2rem 0rem .5rem 0rem;
    text-align: center;
}
.upper-footer-upper-content div,.upper-footer-lower-content div{
    padding-bottom: .9rem;
}
.upper-footer-content3{
    text-align: center;
    padding-top: 5rem;
}
.upper-footer-content3 a{
    text-decoration: none;
    color: white;
}
footer2{
    display: flex;
    justify-content: center;
    height: 10rem;
    font-size: 1rem;
    text-align: center;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 2rem;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 2.3rem;
    margin-right: 3rem;
    font-weight: bold;
}
nav {
    align-items: center;
}
#toggler,label {
    display: none;
}

/* responsive designs */
@media (max-width: 768px) {
    .body1, .body2{
        display: flex;
        flex-direction: column;
        margin-left: -15rem;
        padding-bottom: -2rem;
    }

    .nav-links a{
        width: max-content;
    }
    .co0 , .co1 , .body1-button {
        width: max-content;
        margin-left: -10rem;
    }
    .img img{
        padding-top: 5rem;
        margin-left: -7rem;
    }
    .co-0{
        padding: 10rem 0rem 0rem 4rem;
    }
}

@media (max-width: 480px) {
    label {
        display: inline-block;
        cursor: pointer;
        position: fixed;
        top: 2rem;
        right: .8rem;
        z-index: 10;
        width: 2.5rem;
        height: 2rem;
    }

    label i {
        font-size: 2.5rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        right: 0;
        background-color: #141414;
        width: 200px;
        gap: 1rem;
        padding: 1rem;
    }
    #toggler:checked ~ .nav-links {
        display: flex;
    }

    .nav-links a {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem 2.2rem 0rem 2.2rem;
    }
    .co .co0{
        font-size: 3rem ;
        margin-left: 4rem;
        max-width: 20rem;
    }

    .co .co1{
        font-size: 1.5rem;
        margin-left: .1rem;
    }
    .co button{
        margin-left: 4.5rem;
    }
    .img img {
        margin-left: -2rem;
    }
    .img2 img{
        margin-left: 5rem;
    }
    .co2{
        font-size: 3rem;
        margin-left: 4rem;
        max-width: 20rem;
    }
    .co3{
        font-size: 1.2rem;
        margin-left: 4rem;
        max-width: 20rem;
    }
    .co-0 button{
        margin-left: 4rem;
    }
    .upper-footer{
        display: flex;
        flex-direction: column;
    }
}